@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Students and Subjects</h1>
    <br />
    <p>
        Please find the results for tasks 1 through to 4 within each tab of the navigation bar.
        <br />
        <br />
        <br />
        <span class="fw-bold">Task 1</span> - designing a relational database that would be appropriate for storing all the details in the csv file
        <br />
        <span class="fw-bold">Task 2</span> - a webpage that displays a list of all the students in the attached spreadsheet
        <br />
        <span class="fw-bold">Task 3</span> - a webpage for creating a new student account
        <br />
        <span class="fw-bold">Task 4</span> - a webpage listing all available university courses
    </p>
</div>

