@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Students and Subjects</h1>
    <p>
        Welcome to students and subjects. Please find the results for Tasks 1 through to 4 within each tab of the navigation bar. Happy browsing!
    </p>
</div>

