@model List<StudentAndSubjectApp.Models.University>

<h2>Study abroad courses</h2>
<p>See below the list of courses available at the University of Liverpool where you can study some of the course at a partner institute.</p>

@foreach (var course in Model)
{
    <a href="#" class="courseLink" data-universities="@Json.Serialize(course.Universities)">@course.Course</a>
    <br />
}

<div id="university-details">
    
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>$(document).ready(function () {
            $(".courseLink").click(function (e) {
                e.preventDefault();
                var universitiesData = $(this).data("universities");

                var universities = JSON.parse(universitiesData);

                var html = "<h2>Partner Universities</h2><ul>";
                for (var i = 0; i < universities.length; i++) {
                    html += "<li>" + universities[i].Name + " - " + universities[i].Country + "</li>";
                }
                html += "</ul>";

                $("#university-details").html(html);
            });
        });</script>
}

